name: Build ASP.NET Core Web Application
on:
  push:
    branches:
    - main
env:
  AZURE_WEBAPP_PACKAGE_PATH: ./published
  CONFIGURATION: Release
  DOTNET_CORE_VERSION: 3.1.x
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: vinijmoura/TemplatesYML@v1
      with:
        WebAppPackagePath: ${{env.AZURE_WEBAPP_PACKAGE_PATH}}
        Configuration: ${{env.CONFIGURATION}}
        DotNetCoreVersion: ${{env.DOTNET_CORE_VERSION}}
